.page-title {
  margin-bottom: 12px;
}

.hero__bottom-part {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.hero__bottom-part .section-text {
  max-width: 80%;
}

.leaders {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  column-gap: 10px;
}

.leader__image {
  border: var(--border);
  box-shadow: 2px 2px var(--color-text);
  margin-bottom: 10px;
}

.leader__name {
  font-size: var(--fs-subsection-title);
  font-weight: 700;
}

.leader__job {
  font-size: var(--fs-section-text);
}

.hiring-links__list {
  list-style: none;
  margin-top: 50px;
}

.hiring-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border);
  box-shadow: 2px 2px var(--color-text);
  padding: 12px 24px;
  font-size: var(--fs-subsection-title);
  font-weight: 700;
  margin-bottom: 20px;
  gap: 16px;
}

.hiring-link img {
  width: 20px;
  height: 20px;
}

.hiring-link:hover {
  translate: -2px -2px;
  box-shadow: 4px 4px var(--color-text);
}

.hiring-link:active {
  translate: 2px 2px;
  box-shadow: none;
}

@media (min-width: 640px) {
  .hero__bottom-part .section-text {
    max-width: 70%;
  }

  .leaders {
    grid-template-columns: repeat(3, 1fr);
  }

  .hiring-link {
    padding: 20px 40px;
  }
}

@media (min-width: 960px) {
  .hero__bottom-part .section-text {
    max-width: 50%;
  }
}
