* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img {
  display: block;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
}

:root {
  --color-background: #f8cb39;
  --color-text: #000;

  --ff-normal: "Red Hat Display", sans-serif;
  --ff-gothic: "Dela Gothic One", sans-serif;

  --fs-page-title: 36px;
  --fs-section-title: 30px;
  --fs-section-text: 12px;
  --fs-subsection-title: 16px;
  --fs-button-text: 14px;

  --border-margin: 24px;
  --section-padding-x: 16px;
  --section-padding-y: 40px;

  --border: 1px solid var(--color-text);
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--ff-normal);
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  max-width: 1200px;
}

.page-border {
  margin: var(--border-margin);
  border: var(--border);
  min-height: calc(100vh - 2 * var(--border-margin));
}

img {
  display: block;
}

.image {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.page-title {
  font-size: var(--fs-page-title);
  line-height: 1em;
  font-family: var(--ff-gothic);
}

.section {
  padding: var(--section-padding-y) var(--section-padding-x);
  border-bottom: var(--border);
}

.section-title {
  font-family: var(--ff-gothic);
  font-size: var(--fs-section-title);
  margin-bottom: 10px;
}

.section-text {
  font-size: var(--fs-section-text);
}

.button {
  font-size: var(--fs-button-text);
  font-weight: 500;
  border: none;
  background-color: var(--color-text);
  color: var(--color-background);
  padding: 0.5em 2em;
  cursor: pointer;
  box-shadow: 3px 3px var(--color-text);
}

.button:hover {
  translate: -2px -2px;
  box-shadow: 5px 5px var(--color-text);
}

.button:active {
  translate: 3px 3px;
  box-shadow: none;
}

.right-aligned-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

@media (min-width: 640px) {
  :root {
    --fs-section-text: 14px;
    --fs-subsection-title: 18px;
    --border-margin: 30px;
    --section-padding-x: 24px;
    --section-padding-y: 40px;
  }

  .section-text {
    max-width: 70%;
  }
}

@media (min-width: 960px) {
  .section-text {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  :root {
    --fs-page-title: 50px;
    --fs-section-text: 16px;
    --fs-subsection-title: 22px;
    --border-margin: 60px;
    --section-padding-x: 70px;
    --section-padding-y: 50px;
    --border: 2px solid var(--color-text);
  }
}
