---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/about.css";
---

<BaseLayout pageTile="About us" pageName="about">
  <section class="section">
    <h1 class="page-title">About us</h1>
    <p class="section-text">
      We are a team of tutors who help you understand and apply the Irish
      language. North Wisp is dedicated to helping students learn the Irish
      language in a fun, supportive, and inclusive environment.
    </p>
    <img src="/images/about/about_hero.png" class="image" />
    <div class="hero__bottom-part">
      <h2 class="section-title">Our mission</h2>
      <p class="section-text">
        Our goal is to provide first-class services that will inspire both
        learners and fluent speakers of Irish to improve their knowledge of the
        language.
      </p>
    </div>
  </section>
</BaseLayout>
