---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/blog.css";
---

<BaseLayout pageTitle="Blog" pageName="blog">
  <section class="section">
    <div class="hero">
      <h1 class="page-title">How to start learning Irish from scratch?</h1>
      <div class="hero__image-container">
        <img src="/images/blog/blog_hero.png" class="image" />
      </div>
      <div class="hero__text-container">
        <p class="section-text">
          Find out how to quickly learn Irish and speak it from the very first
          lesson.
        </p>
      </div>
      <div class="hero__button-container">
        <button class="button">Read more</button>
      </div>
    </div>
  </section>

  <section class="section articles-section">
    <h2 class="section-title">Articles</h2>
    <ul class="articles">
      <li class="article">
        <div class="article__title-container">
          <h3 class="article__title">
            International Irish Language Summer School for Adults
          </h3>
          <h4 class="article__topic">Irish language events</h4>
        </div>
        <div class="article__description-container">
          <p class="article__description">
            If you’re looking for a truly unique, authentic cultural experience
            this summer, we recommend registering for North Wisp Irish language
            summer school...
          </p>
        </div>
        <div class="article__link-container">
          <a href="#">
            <img src="/icons/arrow_down_right.svg" class="article__link-icon" />
          </a>
        </div>
      </li>
      <li class="article">
        <div class="article__title-container">
          <h3 class="article__title">Recomendations for Learning Irish</h3>
          <h4 class="article__topic">Recomendation</h4>
        </div>
        <div class="article__description-container">
          <p class="article__description">
            The Irish language will be celebrated by Irish speakers all over the
            world in the coming weeks. There is no better time to learn Irish...
          </p>
        </div>
        <div class="article__link-container">
          <a href="#">
            <img src="/icons/arrow_down_right.svg" class="article__link-icon" />
          </a>
        </div>
      </li>
      <li class="article">
        <div class="article__title-container">
          <h3 class="article__title">Benefits of Bilingualism</h3>
          <h4 class="article__topic">Research</h4>
        </div>
        <div class="article__description-container">
          <p class="article__description">
            The ‘bilingual’ is more common today than a person who can speak
            only one language. Ireland is a bilingual country with both Irish
            and English...
          </p>
        </div>
        <div class="article__link-container">
          <a href="#">
            <img src="/icons/arrow_down_right.svg" class="article__link-icon" />
          </a>
        </div>
      </li>
      <li class="article">
        <div class="article__title-container">
          <h3 class="article__title">
            How to Prepare for the final Irish exam?
          </h3>
          <h4 class="article__topic">Recomendation</h4>
        </div>
        <div class="article__description-container">
          <p class="article__description">
            Final exam season is approaching quickly and there is no denying
            that the formal setting of the oral exams can be stress-inducing for
            parents and students alike.
          </p>
        </div>
        <div class="article__link-container">
          <a href="#">
            <img src="/icons/arrow_down_right.svg" class="article__link-icon" />
          </a>
        </div>
      </li>
    </ul>
    <div class="articles-section__button-container">
      <button class="button">Read more</button>
    </div>
  </section>
</BaseLayout>
