---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/blog.css";
---

<BaseLayout pageTitle="Blog" pageName="blog">
  <section class="section hero">
    <h1 class="page-title">How to start learning Irish from scratch?</h1>
    <div class="hero__image-container">
      <img src="/images/blog/blog_hero.png" class="image" />
    </div>
    <div class="hero__text-container">
      <p class="section-text">
        Find out how to quickly learn Irish and speak it from the very first
        lesson.
      </p>
    </div>
    <div class="hero__button-container">
      <button class="button">Read more</button>
    </div>
  </section>
</BaseLayout>
