---
import ProgramsList from "../components/ProgramsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="North Wisp">
  <section class="section">
    <div class="hero">
      <div class="image-container">
        <img class="image" src="/images/landing/landing_hero.svg" />
      </div>
      <h1 class="page-title">Learn Irish Online</h1>
      <p class="section-text">
        Flexible program, progress analysis, speaking practice with foreigners
      </p>
      <div class="button-holder">
        <button class="button">First lesson free</button>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="section-title">Programs</h2>
    <p class="section-text" style="margin-bottom: 30px;">
      The North Wisp school program is a unique opportunity for students to
      immerse themselves in the Irish language and the culture of Ireland.
    </p>
    <ProgramsList count={3} />
    <div class="right-aligned-button">
      <button class="button">See all</button>
    </div>
  </section>
</BaseLayout>

<style>
  .hero {
    text-align: center;
  }

  .page-title {
    margin-bottom: 22px;
  }

  .hero .button-holder {
    margin-top: 22px;
  }

  @media (min-width: 640px) {
    .hero {
      position: relative;
      text-align: left;
      max-width: 50%;
    }

    .hero .image-container {
      position: absolute;
      left: 100%;
      top: -25px;
      width: 300px;
    }
  }

  @media (min-width: 850px) {
    .hero {
      padding-top: 70px;
      padding-bottom: 100px;
    }

    .hero .image-container {
      top: 25px;
      width: 400px;
    }
  }

  @media (min-width: 1000px) {
    .hero {
      padding-top: 100px;
      padding-bottom: 120px;
    }

    .hero .image-container {
      left: 85%;
      top: -25px;
      width: 550px;
    }
  }

  @media (min-width: 1200px) {
    .hero {
      max-width: unset;
      padding-top: 130px;
      padding-bottom: 250px;
    }

    .hero > * {
      max-width: unset;
    }

    .hero .image-container {
      left: unset;
      right: -100px;
      top: -50px;
      max-width: 800px;
      width: 800px;
    }

    .hero .section-text {
      max-width: 300px;
    }
  }
</style>
