---
import ProgramsList from "../components/ProgramsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/landing.css";
---

<BaseLayout pageTitle="North Wisp">
  <section class="section">
    <div class="hero">
      <div class="image-container">
        <img class="image" src="/images/landing/landing_hero.svg" />
      </div>
      <h1 class="page-title">Learn Irish Online</h1>
      <p class="section-text">
        Flexible program, progress analysis, speaking practice with foreigners
      </p>
      <div class="button-holder">
        <button class="button">First lesson free</button>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="section-title">Programs</h2>
    <p class="section-text" style="margin-bottom: 30px;">
      The North Wisp school program is a unique opportunity for students to
      immerse themselves in the Irish language and the culture of Ireland.
    </p>
    <ProgramsList count={3} />
    <div class="right-aligned-button">
      <button class="button">See all</button>
    </div>
  </section>
</BaseLayout>
