---
---

<footer>
  <div class="address-and-nav">
    <img class="logo" src="/logos/north_wisp_logo.svg" />
    <div class="address__container">
      <p class="address__description">Irish language courses and resources</p>
      <p class="address">20 Clare Street, Dublin 63, Ireland, D08 TD38</p>
    </div>
    <nav>
      <ul class="links-container">
        <li class="link-li">
          <a href="#" class="link"> Gift certificates</a>
        </li>
        <li class="link-li">
          <a href="/about/" class="link"> About Us</a>
        </li>
        <li class="link-li">
          <a href="/about/index.html#hiring" class="link">
            Employment Opportunities
          </a>
        </li>
        <li class="link-li">
          <a href="#" class="link"> License</a>
        </li>
        <li class="link-li">
          <a href="/programs/" class="link"> Educational programs</a>
        </li>
        <li class="link-li">
          <a href="#" class="link"> Data Privacy Statement</a>
        </li>
      </ul>
    </nav>
  </div>
  <ul class="social-media__container">
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/facebook.svg" />
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/instagram.svg" />
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/linkedin.svg" />
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/youtube.svg" />
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/tiktok.svg" />
      </a>
    </li>
  </ul>
</footer>

<style>
  footer {
    padding: var(--section-padding-y) var(--section-padding-x);
    font-size: var(--fs-section-text);
  }

  .address-and-nav {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    margin-bottom: 20px;
  }

  .address__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
  }

  nav {
    display: none;
  }

  .social-media__container {
    display: flex;
    gap: 8px;
  }

  .social-media__link img {
    height: 24px;
    width: auto;
  }

  .copyright {
    display: none;
  }
</style>
