---
---

<footer>
  <div class="address-and-nav">
    <img class="logo" src="/logos/north_wisp_logo.svg" />
    <div class="address__container">
      <p class="address__description">Irish language courses and resources</p>
      <p class="address">20 Clare Street, Dublin 63, Ireland, D08 TD38</p>
    </div>
    <nav>
      <ul class="links-container">
        <li class="link-li">
          <a href="#" class="link"> Gift certificates</a>
        </li>
        <li class="link-li">
          <a href="/about/" class="link"> About Us</a>
        </li>
        <li class="link-li">
          <a href="/about/index.html#hiring" class="link">
            Employment Opportunities
          </a>
        </li>
        <li class="link-li">
          <a href="#" class="link"> License</a>
        </li>
        <li class="link-li">
          <a href="/programs/" class="link"> Educational programs</a>
        </li>
        <li class="link-li">
          <a href="#" class="link"> Data Privacy Statement</a>
        </li>
      </ul>
    </nav>
  </div>
  <ul class="social-media__container">
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/facebook.svg" />
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/instagram.svg" />
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/linkedin.svg" />
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/youtube.svg" />
      </a>
    </li>
    <li>
      <a href="#" class="social-media__link">
        <img src="/logos/social-media/tiktok.svg" />
      </a>
    </li>
  </ul>
</footer>

<style>
  footer {
    padding: var(--section-padding-y) var(--section-padding-x);
    font-size: var(--fs-section-text);
  }

  .address-and-nav {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    margin-bottom: 20px;
  }

  .address__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
  }

  nav {
    display: none;
  }

  .links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
  }

  .social-media__container {
    display: flex;
    gap: 8px;
  }

  .social-media__link img {
    height: 24px;
    width: auto;
  }

  @media (min-width: 640px) {
    .address-and-nav {
      grid-template-columns: 35% 1fr;
      align-items: center;
    }

    .social-media__container {
      justify-content: flex-end;
    }

    .social-media__link img {
      height: 28px;
      width: auto;
    }
  }

  @media (min-width: 1200px) {
    .address-and-nav {
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
      margin-bottom: 60px;
    }

    .logo {
      grid-column: 1 / 3;
    }

    nav {
      display: block;
    }

    .address__container {
      grid-template-columns: 1fr;
      row-gap: 8px;
    }

    .social-media__container {
      gap: 12px;
      justify-content: flex-start;
    }

    .social-media__link img {
      height: 36px;
      width: auto;
    }
  }
</style>
