---
import { programs } from "../data/programs";

const { pageName } = Astro.props;
const pages = [
  {
    name: "programs",
    title: "Programs",
  },
  {
    name: "blog",
    title: "Blog",
  },
  {
    name: "about",
    title: "About us",
  },
];
---

<header>
  <nav>
    <a href="/">
      <img
        class="site-logo"
        src="/logos/north_wisp_logo.svg"
        width="48"
        height="26"
      />
    </a>
    <button id="menu-button">
      <img
        id="menu-button__icon--closed"
        class="visible"
        src="/icons/hamburger.svg"
      />
      <img id="menu-button__icon--open" src="/icons/cross.svg" />
    </button>
    <ul class="links-holder">
      {
        pages.map((page) => (
          <li>
            <a
              href={`/${page.name}`}
              class={page.name === pageName ? "link link--current" : "link"}
            >
              {page.title}
            </a>
          </li>
        ))
      }
      <li>
        <button class="login-button">Log in</button>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 18px var(--section-padding-x);
  }

  nav {
    display: grid;
    grid-template-columns: auto auto;
    vertical-align: center;
  }

  #menu-button {
    border: none;
    background: none;
    margin-left: auto;
  }

  #menu-button > img {
    display: none;
  }

  #menu-button > img.visible {
    display: block;
  }

  .links-holder {
    display: none;
  }

  .links-holder.visible {
    grid-column: 1 / 3;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .link {
    font-size: 25px;
  }

  .link--current {
    font-weight: 700;
  }

  .login-button {
    font-size: 16px;
    color: var(--color-background);
    background-color: var(--color-text);
    padding: 0.5em 2em;
    margin-top: 16px;
  }

  @media (min-width: 640px) {
    .site-logo {
      width: 89px;
      height: 45px;
    }

    .link {
      font-size: 30px;
    }

    header {
      padding: 25px var(--section-padding-x);
    }

    #menu-button {
      display: none;
    }

    .links-holder {
      grid-column: unset;
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .link {
      font-size: 18px;
    }

    .login-button {
      margin-top: 0;
      font-size: 16px;
    }
  }

  @media (min-width: 1200px) {
    header {
      padding: 40px var(--section-padding-x);
    }
  }
</style>

<script src="../scripts/menu.js"></script>
